:root {
  --header-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --third-text-color: #2196f3;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --primary-background-color: #2f303a;
  --secondary-background-color: #2196f3;
  --third-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}

span {
  color: var(--third-text-color);
}
/*-------------------header---------------*/
header {
  color: var(--background-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--header-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

/*-------------------main---------------*/

.offer {
  background-color: var(--primary-background-color);
}

.offer-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-title-color);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn-light {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-title-color);
}

.feature-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.work-type-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.76;
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 3.16;
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}

.team-card-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 3.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.section-team {
  background-color: var(--third-background-color);
}
/*-------------------footer---------------*/
.footer {
  background-color: var(--primary-background-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.adress {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.footer-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  color: var(--secondary-text-color);
}
